.switcher{
  background: #fff;
  border: 1px solid #d8d7d9;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 52px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: -1px;
}
.switcher small {
  background: #eae7e7;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switcher.checked {
  background: #35c786;
  border-color: #35c786;

}
.switcher.checked small {
  left: 22px;
}
.switcher-status {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  color: #817f85;
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
}
.switcher-status.active {
  color: #343434;
}

.switcher.blue.checked {
  background: rgb(54, 180, 246);
  border-color: rgb(54, 180, 246);
}
.switcher.red.checked {
  background: #fe5b57;
  border-color: #fe5b57;
}

.switcher.purple.checked {
   background: rgb(103, 94, 122);
   border-color: rgb(103, 94, 122);
}

.switcher.turquoise.checked {
  background: rgb(0, 174, 162);
  border-color: rgb(0, 174, 162);
}

