.switcher{
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 52px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: -1px;
}
.switcher small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switcher.checked {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
}
.switcher.checked small {
  left: 22px;
}
.switcher-status {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  color: #dfdfdf;
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
}
.switcher-status.active {
  color: #343434;
}

.switcher.blue.checked {
  background: rgb(54, 180, 246);
  border-color: rgb(54, 180, 246);
}
.switcher.red.checked {
  background: rgb(223, 59, 58);
  border-color: rgb(223, 59, 58);
}