.switcher{
  background: #d8d7d9;
  border: 1px solid #d8d7d9;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 56px;
  height: 34px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: 0px;
}
.switcher small {
  background: #fff;
  border-radius: 50%;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.4);*/
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 2px 0px 0px 2px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switcher.checked {
  background: rgb(53, 199, 134);
  border-color: rgb(53, 199, 134);
}
.switcher.checked small {
  left: 22px;
}
.switcher-status {
  display: inline-block;
  vertical-align: top;
  color: #dfdfdf;
  padding: 7px;
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
}
.switcher-status.active {
  color: #343434;
}

.switcher.blue.checked {
  background: rgb(54, 180, 246);
  border-color: rgb(54, 180, 246);
}
.switcher.green.checked {
  background: rgb(53, 199, 134);
  border-color: rgb(53, 199, 134);
}
.switcher.purple.checked {
  background: rgb(103, 94, 122);
  border-color: rgb(103, 94, 122);
}
.switcher.red.checked {
  background: rgb(254, 62, 57);
  border-color: rgb(254, 62, 57);
}
.switcher.turquoise.checked {
  background: rgb(0, 174, 162);
  border-color: rgb(0, 174, 162);
}